@(result: Seq[String])
<!DOCTYPE html>

<html>
    <head>
        <title>Simple App</title>
        <link rel="stylesheet" href='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))'>
        <link rel="stylesheet" href='@routes.Assets.at("stylesheets/main.css")'>
        <link rel="shortcut icon" href='@routes.Assets.at("images/favicon.ico")'>

        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("underscore-min.js"))'></script>
        <script type='text/javascript' src="@routes.Assets.at("javascripts/main.js")"></script>
    </head>
    <body>
        Translation: @result
    </body>
</html>